.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a.active:focus,
.navbar-default .navbar-nav > li > a.active:hover {
  color: #555;
  background-color: #e7e7e7;
}

@media (max-width: 480px) { 
  .period-toolbar{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-flex: center;
  }
}