.settings-name {
  text-align: center;
}

.settings-password {
  text-align: center;
}

#settings-tabs .tab-content {
  border-top: none !important;
  border: 1px solid #ddd;
  padding: 5rem;
}

#settings-tabs {
  margin-bottom: 2rem;
}