.puntlab-page-header {
    margin: 0px !important;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #eee;
}

.puntlab-page-subheader {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 2rem;
}

.page-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.page-subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.page-action-button {
    margin-right: 1rem;
}

.puntlab-page-actions {
    padding: 1.5rem 0rem;
    border-bottom: 1px solid #eee;
    margin: 0px !important;
}